asgiref==3.8.1
django==5.1.2
django-filter==24.3
djangorestframework==3.15.2
djangorestframework-api-key==2.3.0
djangorestframework-simplejwt==5.3.1
markdown==3.7
pyjwt==2.9.0
sqlparse==0.5.1
typing-extensions==4.12.2
